<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Esto es lo que va arribita</title>
</head>
<body>
    <h1>Esto es un header grande</h1>
    <h2>Esto ya no tan grande</h2>
    <h6>Éste ya es chiquito</h6>

    <div style="width:340px; position:relative; margin:0 auto 0 auto; text-align: center; border-image: initial;">
        <img src="https://tv-date.com/img/Hitori-Bocchi-no-Marumaru-Seikatsu.jpg" style="width:340px"><br>
        ¿Quieres ser mi amig@?
    </div>
    <br>
    Esto está <a href="https://www.youtube.com/watch?v=ettaeKZHAwA">re flashero</a>
    <br><a href="{% url 'formulario' %}">Ir al formulario</a>
</body>
</html>